.ml-0 {
  margin-left: 0px;
}
.ml-1 {
  margin-left: 4px;
}
.ml-2 {
  margin-left: 8px;
}
.ml-3 {
  margin-left: 12px;
}
.ml-4 {
  margin-left: 16px;
}
.ml-5 {
  margin-left: 20px;
}
.ml-6 {
  margin-left: 24px;
}
.ml-7 {
  margin-left: 28px;
}
.ml-8 {
  margin-left: 32px;
}
.ml-9 {
  margin-left: 36px;
}
.ml-10 {
  margin-left: 40px;
}
.ml-11 {
  margin-left: 44px;
}
.ml-12 {
  margin-left: 48px;
}
.ml-13 {
  margin-left: 52px;
}
.ml-14 {
  margin-left: 56px;
}
.ml-15 {
  margin-left: 60px;
}
.ml-16 {
  margin-left: 64px;
}
.ml-auto {
  margin-left: auto;
}

// negative
.ml-n1 {
  margin-left: -4px;
}
.ml-n2 {
  margin-left: -8px;
}
.ml-n3 {
  margin-left: -12px;
}
.ml-n4 {
  margin-left: -16px;
}
.ml-n5 {
  margin-left: -20px;
}
.ml-n6 {
  margin-left: -24px;
}
.ml-n7 {
  margin-left: -28px;
}
.ml-n8 {
  margin-left: -32px;
}
.ml-n9 {
  margin-left: -36px;
}
.ml-n10 {
  margin-left: -40px;
}
.ml-n11 {
  margin-left: -44px;
}
.ml-n12 {
  margin-left: -48px;
}
.ml-n13 {
  margin-left: -52px;
}
.ml-n14 {
  margin-left: -56px;
}
.ml-n15 {
  margin-left: -60px;
}
.ml-n16 {
  margin-left: -64px;
}
