.mr-0 {
  margin-right: 0px;
}
.mr-1 {
  margin-right: 4px;
}
.mr-2 {
  margin-right: 8px;
}
.mr-3 {
  margin-right: 12px;
}
.mr-4 {
  margin-right: 16px;
}
.mr-5 {
  margin-right: 20px;
}
.mr-6 {
  margin-right: 24px;
}
.mr-7 {
  margin-right: 28px;
}
.mr-8 {
  margin-right: 32px;
}
.mr-9 {
  margin-right: 36px;
}
.mr-10 {
  margin-right: 40px;
}
.mr-11 {
  margin-right: 44px;
}
.mr-12 {
  margin-right: 48px;
}
.mr-13 {
  margin-right: 52px;
}
.mr-14 {
  margin-right: 56px;
}
.mr-15 {
  margin-right: 60px;
}
.mr-16 {
  margin-right: 64px;
}
.mr-auto {
  margin-right: auto;
}

// negative
.mr-n1 {
  margin-right: -4px;
}
.mr-n2 {
  margin-right: -8px;
}
.mr-n3 {
  margin-right: -12px;
}
.mr-n4 {
  margin-right: -16px;
}
.mr-n5 {
  margin-right: -20px;
}
.mr-n6 {
  margin-right: -24px;
}
.mr-n7 {
  margin-right: -28px;
}
.mr-n8 {
  margin-right: -32px;
}
.mr-n9 {
  margin-right: -36px;
}
.mr-n10 {
  margin-right: -40px;
}
.mr-n11 {
  margin-right: -44px;
}
.mr-n12 {
  margin-right: -48px;
}
.mr-n13 {
  margin-right: -52px;
}
.mr-n14 {
  margin-right: -56px;
}
.mr-n15 {
  margin-right: -60px;
}
.mr-n16 {
  margin-right: -64px;
}
