.pr-0 {
  padding-right: 0px;
}
.pr-1 {
  padding-right: 4px;
}
.pr-2 {
  padding-right: 8px;
}
.pr-3 {
  padding-right: 12px;
}
.pr-4 {
  padding-right: 16px;
}
.pr-5 {
  padding-right: 20px;
}
.pr-6 {
  padding-right: 24px;
}
.pr-7 {
  padding-right: 28px;
}
.pr-8 {
  padding-right: 32px;
}
.pr-9 {
  padding-right: 36px;
}
.pr-10 {
  padding-right: 40px;
}
.pr-11 {
  padding-right: 44px;
}
.pr-12 {
  padding-right: 48px;
}
.pr-13 {
  padding-right: 52px;
}
.pr-14 {
  padding-right: 56px;
}
.pr-15 {
  padding-right: 60px;
}
.pr-16 {
  padding-right: 64px;
}
.pr-auto {
  padding-right: auto;
}

// negative
.pr-n1 {
  padding-right: -4px;
}
.pr-n2 {
  padding-right: -8px;
}
.pr-n3 {
  padding-right: -12px;
}
.pr-n4 {
  padding-right: -16px;
}
.pr-n5 {
  padding-right: -20px;
}
.pr-n6 {
  padding-right: -24px;
}
.pr-n7 {
  padding-right: -28px;
}
.pr-n8 {
  padding-right: -32px;
}
.pr-n9 {
  padding-right: -36px;
}
.pr-n10 {
  padding-right: -40px;
}
.pr-n11 {
  padding-right: -44px;
}
.pr-n12 {
  padding-right: -48px;
}
.pr-n13 {
  padding-right: -52px;
}
.pr-n14 {
  padding-right: -56px;
}
.pr-n15 {
  padding-right: -60px;
}
.pr-n16 {
  padding-right: -64px;
}
