.space-y-1 .block-item-container:not(:last-child) {
  padding-bottom: 6px !important;
}
.space-y-2 .block-item-container:not(:last-child) {
  padding-bottom: 12px !important;
}

.space-y-3 .block-item-container:not(:last-child) {
  padding-bottom: 18px !important;
}

.space-y-4 .block-item-container:not(:last-child) {
  padding-bottom: 24px !important;
}

.space-y-5 .block-item-container:not(:last-child) {
  padding-bottom: 36px !important;
}

.space-y-6 .block-item-container:not(:last-child) {
  padding-bottom: 54px !important;
}

.space-y-7 .block-item-container:not(:last-child) {
  padding-bottom: 78px !important;
}

.box-space-y-1 .box-item:not(:last-child) {
  padding-bottom: 6px !important;
}
.box-space-y-2 .box-item:not(:last-child) {
  padding-bottom: 12px !important;
}

.box-space-y-3 .box-item:not(:last-child) {
  padding-bottom: 18px !important;
}

.box-space-y-4 .box-item:not(:last-child) {
  padding-bottom: 24px !important;
}

.box-space-y-5 .box-item:not(:last-child) {
  padding-bottom: 36px !important;
}

.box-space-y-6 .box-item:not(:last-child) {
  padding-bottom: 54px !important;
}

.box-space-y-7 .box-item:not(:last-child) {
  padding-bottom: 78px !important;
}

.mt-n17 {
  margin-top: -68px;
}
.mt-n18 {
  margin-top: -72px;
}
.mt-n19 {
  margin-top: -76px;
}
.mt-n20 {
  margin-top: -80px;
}
.mt-n21 {
  margin-top: -84px;
}
.mt-n22 {
  margin-top: -88px;
}
.mt-n23 {
  margin-top: -92px;
}
.mt-n24 {
  margin-top: -96px;
}

.mb-n17 {
  margin-bottom: -68px;
}
.mb-n18 {
  margin-bottom: -72px;
}
.mb-n19 {
  margin-bottom: -76px;
}
.mb-n20 {
  margin-bottom: -80px;
}
.mb-n21 {
  margin-bottom: -84px;
}
.mb-n22 {
  margin-bottom: -88px;
}
.mb-n23 {
  margin-bottom: -92px;
}
.mb-n24 {
  margin-bottom: -96px;
}

.mx-n17 {
  margin-left: -68px;
  margin-right: -68px;
}
.mx-n18 {
  margin-left: -72px;
  margin-right: -72px;
}
.mx-n19 {
  margin-left: -76px;
  margin-right: -76px;
}
.mx-n20 {
  margin-left: -80px;
  margin-right: -80px;
}
.mx-n21 {
  margin-left: -84px;
  margin-right: -84px;
}
.mx-n22 {
  margin-left: -88px;
  margin-right: -88px;
}
.mx-n23 {
  margin-left: -92px;
  margin-right: -92px;
}
.mx-n24 {
  margin-left: -96px;
  margin-right: -96px;
}
